* { box-sizing: border-box; }

body {
  font-size: 16px;
  line-height: 1.5;
  color: rgba(1, 1, 1, 0.65);
  font-family: system, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Lucida Grande';
}

::-moz-selection {
  color: #FFF;
  background-color: #FE7958;
}

::selection {
  color: #FFF;
  background-color: #FE7958;
}

code {
  color: #FE7958;
  background-color: #FFF;
  padding: 0.35rem;
  border-radius: 3px;
}

input, button, li { font-size: 1.25rem; }

svg {
  width: 5rem;
  margin-left: 1rem;
  transition: transform 0.15s ease-out;
  cursor: pointer;
}

svg:hover { transform: scale(1.35); }

ul {
  list-style-type: none;
  padding-left: 0;
}

h3 { text-align: center; }

li, button { cursor: pointer; }

li {
  transition: color 0.15s linear;
  position: relative;
  margin-left: 1.5rem;
}

li::before,
li::after {
  content: '';
  width: 18px;
  height: 18px;
  border-radius: 100%;
  position: absolute;
  left: -1.5rem;
  top: 0.4rem;
}

li::before { background-color: #FE7958; }

li::after {
  background-color: #FFF;
  transform: scale(0.75);
  transition: transform 0.35s cubic-bezier(0.680, -0.550, 0.265, 1.550);
}

li.is-done {
  text-decoration: line-through;
  color: rgba(0, 0, 0, 0.35);
}

li.is-done::after {
  transform: scale(0);
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}

input,
button {
  outline: 0;
  border: 0;
  padding: 0.45rem;
  border-radius: 3px;
}

input {
  border: 2px solid #DDD;
  transition: border-color 0.15s linear;
  width: 100%;
  display: block;
  margin-top: 3rem;
  margin-bottom: 1rem;
}

input:focus, input:hover { border-color: rgba(0, 0, 0, 0.25); }

button {
  border: 2px solid #FE7958;
  background-color: #FE7958;
  color: #FFF;
  font-weight: bold;
  transition: all 0.15s linear;
}

button:hover {
  background-color: #FFF;
  color: #FE7958;
}

.container {
  max-width: 700px;
  margin: 0 auto;
  padding: 4rem 1.45rem;
}

.header {
  margin-bottom: 3rem;
  text-align: center;
}

.details {
  line-height: 2;
  cursor: help;
  padding: 1rem 0.35rem;
  background-color: #EEE;
  border-radius: 3px;
}
